@mixin pull-left {
	float: left;
}
@mixin pull-right {
	float: right;
}
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}
@mixin form-label($height) {
	width: 125px;
	height: $height;
	font: 14px/36px 'Microsoft Yahei';
	color: #2f2f2f;
	box-sizing: border-box;
	padding-left: 8px;
}
@mixin form-input {
	width: 768px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid #dadcde;
}
.clearfix:after {
	content: ' ';
	display: block;
	height: 0;
	clear: both;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
button {
	border: none;
}
.applicationForm {
	width: 1600px;
	height: 1590px;
	box-sizing: border-box;
	padding: 26px 66px 0 24px;
	@extend .clearfix;
	
	.form-title {
		font: 14px/14px 'Microsoft Yahei';
		color: #262626;
		padding-bottom: 20px;
		width: 84px;
		border-bottom: 2px solid #05a2e8;
	}

	.config {
		@include pull-left;
		@include wh(894px, 1564px);

		.form-row {
			@include wh(100%, 36px);
			@extend .clearfix;
			margin-bottom: 16px;

			.form-label {
				@include form-label(36px);
				@include pull-left;
			}

			.form-input {
				@include form-input;
				@include pull-left;

			}
			input:disabled,
			button:disabled,
			select:disabled {
				background-color: #f7f9fb;
			}

			.strong {
				color: red;
			}
		}

		.description {
			font: 14px/24px 'Microsoft Yahei';
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 24px;
		}

		.customCfg {
			.form-row {
				@extend .clearfix;
				margin-bottom: 26px;
				height: auto;
			}
			.form-group {
				@include pull-left;
				width: 720px;
			}
			.form-label {
				@include pull-left;
				@include wh(119px, 36px);
			}
			.handle {
				@include pull-left;
				@include wh(54px, 36px);
				span.glyphicon {
					font: 12px/36px 'Microsoft Yahei';
					color: #8d8d8d;
					margin-left: 10px;
					transition: 1s;
					&:hover {
						color: red;
					}
				}
			}
			.text {
				.form-input:nth-of-type(1) {
					margin-bottom: 6px;
				}
				.form-input {
					width: 100%;
					padding-left: 6px;
				}
			}
			.textarea {
				.form-input:nth-of-type(1) {
					margin-bottom: 6px;
				}
				.form-input {
					width: 100%;
					padding-left: 6px;
				}
				input[type=textarea] {
					height: 64px;
				}
			}
			.radio,
			.checkbox,
			.select {
				.choice {
					@extend .clearfix;
					margin-bottom: 6px;
				}
				.form-input {
					width: 668px;
					padding-left: 6px;
					@include pull-right;
					&:nth-of-type(1) {
						width: 100%;
						padding-left: 6px;
						margin-bottom: 6px;
					}
				}
				.form-group {
					input[type=radio],
					input[type=checkbox] {
						margin-top: 12px;
						margin-left: 20px;
					}
				}
				.radioHandle,
				.checkboxHandle,
				.selectHandle {
					font: 12px/18px 'Microsoft Yahei';
					color: #3eb6ed;
				}
			}
			.file {
				.form-input {
					width: 100%;
					padding-left: 6px;
					&:nth-of-type(1) {
						margin-bottom: 6px;
					}
				}
			}
			.address {
				.form-group {
					@extend .clearfix;

					select {
						@include pull-left;
						width: 33%;
						margin-right: 0.5%;
						&:nth-last-of-type(1) {
							margin-right: 0;
						}
					}
				}
			}
			.date {
				.form-input {
					width: 100%;
					padding-left: 6px;
					margin-bottom: 6px;
				}
				.dateHandle {
					color: #939393;
					font: 12px/18px 'Microsoft Yahei';
					label {
						margin-right: 16px;
						color: #313131;
					}
				}
			}



		}
	}

	.form-tool {
		@include pull-left;
		width: 530px;
		box-sizing: border-box;
		border: 2px dashed #e1e1e1;
		margin-left: 50px;
		padding: 20px 36px 0 16px;

		p.title {
			font: 14px/20px 'Microsoft Yahei';
			color: #303030;
		}
		.common {
			a {
				@include wh(84px, 38px);
				display: inline-block;
				color: #4d4f4f;
				font: 14px/38px 'Microsoft Yahei';
				text-align: center;
				background: #ecf1f4;
				margin: 5px;
				box-sizing: border-box;
				transition: 0.5s;

				&:hover {
					color: #fff;
					font-weight: bold;
					background: #00a2e8;
				}
			}
		}
		.custom {
			li {
				@include wh(466px, 36px);
				background: #ecf1f4;
				font: 14px/36px 'Microsoft Yahei';
				margin-bottom: 10px;

				a {
					display: inline-block;
					@include wh(100%, 100%);
					color: #434444;
					text-indent: 40px;
					box-sizing: border-box;
					transition: 0.5s;

					&:hover {
						color: #19aeea;
						border: 1px solid #00a2e8;
					}
				}

				&:nth-of-type(1) a {background: url(./handle-bg.png) 0 0 no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
				&:nth-of-type(2) a {background: url(./handle-bg.png) 0 -36px no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
				&:nth-of-type(3) a {background: url(./handle-bg.png) 0 -72px no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
				&:nth-of-type(4) a {background: url(./handle-bg.png) 0 -108px no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
				&:nth-of-type(5) a {background: url(./handle-bg.png) 0 -144px no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
				&:nth-of-type(6) a {background: url(./handle-bg.png) 0 -180px no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
				&:nth-of-type(7) a {background: url(./handle-bg.png) 0 -216px no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
				&:nth-of-type(8) a {background: url(./handle-bg.png) 0 -252px no-repeat, url(./handle-bg.png) 440px -252px no-repeat;}
			}
		}
	}
}


































