form {
	width: 870px;
	box-sizing: border-box;
	border-top: 2px solid #ff5303;
	position: relative;

	.form-title {
		display: block;
		background: #ff5303;
		width: 149px;
		height: 48px;
		text-align: center;
		margin-left: 50px;
		margin-top: -6px;
		margin-bottom: 42px;
		font: 20px/50px 'Microsoft Yahei';
		color: #fff;
	}

	:global(.form-item) {
		width: 850px;
		margin-bottom: 15px;
		text-align: center;
	}

	:global(.cLabel) {
		font: 14px/34px 'Microsoft Yahei';
		font-weight: normal;
		color: #4a4a4a;
	}

	:global(.pl) {
		padding-left: 15px;
	}

	:global(.pr) {
		padding-right: 15px;
	}

	:global(.tl) {
		text-align: left;
	}
	
	:global(.preview) {
		width: 360px;
		height: 200px;
		background: url(../../../static/img/admin-addimg.png) no-repeat 0 0;
		background-size: cover; 
	}

	:global(.imgupload) {
		box-sizing: border-box;
		padding-left: 10px;
		color: #4a4a4a;
		font: 14px/20px 'Microsoft Yahei';

		p {
			margin-top: 8px;
		}
	}

	:global(.input-group-addon) {
		background-color: #fff;
		color: #00a0e8;
		border-left: 1px solid #00a0e8 !important;
		border: 1px solid #00a0e8;
		margin-left: 5px;
	}
}