.newAct {
	position: absolute;
	width: calc(100% - 220px);
	position: absolute;
	top: 62px;
	left: 220px;
	background: #f5f5f5;
}

form {
	box-sizing: border-box;
	border-top: 2px solid #2bbbe3;
	margin: 20px auto;
	width: 850px;
	background-color: #fff;
	padding-bottom: 20px;


	.form-title {
		display: block;
		background: #2bbbe3;
		width: 149px;
		height: 48px;
		text-align: center;
		margin-left: 50px;
		margin-top: -6px;
		margin-bottom: 42px;
		font: 20px/50px 'Microsoft Yahei';
		color: #fff;
	}

	.form-item {
		width: 850px;
		margin-bottom: 15px;
		text-align: center;
	}

	.cLabel {
		font: 14px/34px 'Microsoft Yahei';
		font-weight: normal;
		color: #4a4a4a;
	}

	.pl {
		padding-left: 15px;
	}

	.pr {
		padding-right: 15px;
	}

	.tl {
		text-align: left;
	}
	
	.preview {
		width: 360px;
		height: 200px;
		background: url(../../../static/img/admin-addimg.png) no-repeat 0 0;
		background-size: cover; 
	}

	.imgupload {
		box-sizing: border-box;
		padding-left: 10px;
		color: #4a4a4a;
		font: 14px/20px 'Microsoft Yahei';

		button {
			background-color: #2bbbe3;
			border: none;
		}

		p {
			margin-top: 8px;
		}
	}

	.input-group-addon {
		background-color: #fff;
		color: #00a0e8;
		border-left: 1px solid #00a0e8 !important;
		border: 1px solid #00a0e8;
		margin-left: 5px;
	}

	.submitAct {
		margin-top: 30px;

		button {
			width: 150px;
			margin: 0 auto;
			background-color: #2bbbe3;
			border: none;
		}
	}










}