html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #000;
}

@font-face {
    font-family: "iconfont";
    src: url('../../../static/fonts/iconfont.eot?t=1488161688460'); /* IE9*/
    src: url('../../../static/fonts/iconfont.eot?t=1488161688460#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../static/fonts/iconfont.woff?t=1488161688460') format('woff'), /* chrome, firefox */
    url('../../../static/fonts/iconfont.ttf?t=1488161688460') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../../static/fonts/iconfont.svg?t=1488161688460#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_sanjiao:before { 
    content: "\e605"; 
}

.icon_tongzhi:before { 
    content: "\e600";
}

.icon_jibenxinxi:before { 
    content: "\e619";
}

.icon_shezhi:before { 
    content: "\e63f";
}

.icon_guanli:before { 
    content: "\e703";
}

.icon_qiandao:before { 
    content: "\e603";
}

.icon_plus:before { 
    content: "\e712";
}

.icon_zongjie:before { 
    content: "\e65a";
}

.icon_yonghuguanli:before { 
    content: "\e89e";
}

.icon_biaodan:before { 
    content: "\e646";
}

.icon_renyuan:before { 
    content: "\e7e6";
}

.icon_sanjiao:before { 
    content: "\e605";
}

.icon_huiyianpai:before { 
    content: "\e640";
}

.navbar {
    width: 220px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1c2b36;
}

.item {
    width: 220px;
    height: 40px;
    font: 14px/40px 'Microsoft Yahei';
    color: #869fb1;
    background-color: #1c2b36;

    .description {
        margin-left: 10px;
    }

    span.iconfont:nth-of-type(1) {
        margin-left: 26px;
    }

    span.iconfont:nth-of-type(3) {
        float: right;
        margin-right: 10px;
    }

    .navChild {
        box-sizing: border-box;
        border-left: 3px solid #19a9d5;
    }

    a {
        color: #869fb1;
    }
}





























