.clearfix:after {
	display: block;
	content: ' ';
	clear: both;
	height: 0;
}
.pageControl {
	padding-top: 15px;
	background: #fff;
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-top: 20px;
}
.pageShowNum{
	float: left;

	span {
		font: 14px/30px 'Microsoft Yahei';
		color: #ddd;
		padding-left: 10px;
	}

	select {
		width: 70px;
		height: 30px;
		border: 1px solid #ddd;
		padding-left: 10px;
		box-sizing: border-box;
		margin-left: 10px;
	}
}
.nowpage{
	float: right;
	padding-right: 10px;
	ul.pagination {
		margin: 0;
	}
}