ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

.form {
	width: 684px;
	float: left;

	.handle {
		line-height: 34px;

		span {
			&:nth-of-type(1) {
				padding-right: 15px;
			}
			&:hover {
				color: red;
				cursor: pointer;
			}
		}
	}
}

.title {
	width: 176px;
	height: 48px;
	display: block;
	text-align: center;
	font: 14px/48px 'Microsoft Yahei';
	color: #fff;
	background-color: #ff5303;
	margin: -6px 0 32px 88px;
}

.label {
	text-align: center;
}

.others {
	font: 14px/20px 'Microsoft Yahei';
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
	margin: 24px 0;
	text-indent: 22px;
}

.toolbox {
	width: 298px;
	float: left;
	border: 3px dashed #ecf1f4;
	padding: 0 0 16px 16px;
	margin: 72px 0 0 20px;

	.toolboxTitle {
		font: 18px/44px 'Microsoft Yahei';
	}
		
	.commons {
		button {
			display: inline-block;
			width: 82px;
			height: 36px;
			color: #000;
			font: 14px/22px 'Microsoft Yahei';
			text-align: center;
			margin: 5px;
		}
	}

	.customize {
		width: 100%;
	}

	.customizeOptions {
		width: 100%;

		li {
			width: 260px;
			height: 36px;
			background-color: #ecf1f4;
			font: 14px/36px 'Microsoft Yahei';
			margin-top: 8px;

			span {

				&:nth-of-type(1) {
					text-indent: 10px;
					padding-right: 10px;
				}
				&:nth-of-type(2) {
					float: right;
					line-height: 36px;
					padding-right: 10px;
				}
			}

			&:hover a {
				color: red;
				cursor: pointer;
			}
		}
	}
}


























