/**
 * iconfont字体图标
 */
@font-face {
    font-family: "iconfont";
    src: url('../Resource/fonts/iconfont.eot?t=1488935522039');
    src: url('../Resource/fonts/iconfont.eot?t=1488935522039#iefix') format('embedded-opentype'),
    url('../Resource/fonts/iconfont.woff?t=1488935522039') format('woff'),
    url('../Resource/fonts/iconfont.ttf?t=1488935522039') format('truetype'),
    url('../Resource/fonts/iconfont.svg?t=1488935522039#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-del1:before { 
    content: "\f0008"; 
}

.icon-del2:before { 
    content: "\e63c"; 
}

.icon-shezhi:before { 
    content: "\f0003"; 
}

.icon-xia:before { 
    content: "\e621"; 
}

.icon-shang:before { 
    content: "\e600"; 
}

.icon-xialajiantou:before { 
    content: "\e604"; 
}

.icon-renyuan:before { 
    content: "\e797"; 
}

.icon-jibenxinxi:before { 
    content: "\e609"; 
}

/**
 * CSS RESET
 */
a {
    text-decoration: none;
}
p, body, h3 {
    margin: 0;
}
ul,table {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    border: none;
}
select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}
body,html,#app {
    width: 100%;
    height: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}