.create-meeting {
	background-color: #fff;
	width: calc(100% - 100px);
	margin: 40px auto;
	padding: 40px 0 40px 0;
	.ant-calendar-picker {
		width: 100% !important;
	}
	.preview {
		width: 400px;
		height: 250px;
	}

	button[type=submit] {
		margin-left: 20px;
	}

	.title {
		width: 150px;
		height: 50px;
		font: 16px/50px 'Microsoft Yahei';
		color: #fff;
		background-color: #00a0e8;
		text-align: center;
		margin: -42px 0 20px 10%;
	}
}