@mixin input($width) {
	width: $width;
	height: 46px;
	box-sizing: border-box;
	border: 1px solid #bebebe;
	padding-left: 8px;
}
@mixin button($width, $height) {
	color: #fff;
	font-family: 'Microsoft Yahei';
	line-height: $height;
	background-color: #00a0e8;
	display: inline-block;
	text-align: center;
	width: $width;
	height: $height;
}
@mixin addItem {
	background-color: #fff;
	color: #1ba9ea;
	border: 1px solid #1ba9ea;
	height: 46px;
	width: 194px;
	text-align: center;
	font: 14px/46px 'Microsoft Yahei';
}
@mixin pull-left {
	float: left;
}
@mixin pull-right {
	float: right;
}
@mixin label {
	height: 46px;
	font: 14px/46px 'Microsoft Yahei';
	color: #3d3d3d;
	text-indent: 90px;
	width: 206px;
}
.clearfix:after {
	display: block;
	content: ' ';
	height: 0;
	clear: both;
}
.newAct {
	width: 1250px;
	box-sizing: border-box;
	border-top: 1px solid #00a0e8;
	background-color: #fff;
	margin: 0 auto;
	padding-bottom: 24px;
	.title {
		@include button(150px, 50px);
		background-color: #00a0e8;
		margin: -2px 0 0 90px;
		margin-bottom: 34px;
	}
	.row {
		@extend .clearfix;
		margin-bottom: 26px;
		& > label {
			@include pull-left;
			@include label;
			span { color: red; }
		}
		& > input {
			@include pull-left;
			@include input(958px);
		}
	}
	.begin, 
	.end {
		@include pull-left;
		width: 460px;
		label {
			@include label;
			display: block;
			text-indent: 0;
			line-height: 26px;
			height: 26px;
			span {color: red;}
		}
		input[type=date] {
			@include input(460px);
		}
	}
	.begin {
		margin-right: 40px;
	}
	.pc {
		@extend .clearfix;
		margin-bottom: 10px;
		select{
			@include input(480px);
			@include pull-left;
			background-color: #fff;
			&:nth-of-type(1) {border-right: none;}
		}
	}
	.detail input {
		@include input(958px);
		margin-left: 206px;
	}
	.addOffical,
	.addCatefory {
		select {
			@include input(766px);
			@include pull-left;
			background-color: #fff;
			border-right: none;
		}
		button {
			@include addItem;
		}
	}
	.addPoster {
		.poster_img {
			@include pull-left;
			float: left;
			width: 480px;
			height: 284px;
			background: url(../Resource/images/upload.jpg) 0 0 no-repeat;
			background-size: cover;
		}
		.poster_upload {
			@include pull-left;
			margin-left: 34px;
			label {
				@include button(216px, 45px);
				margin-bottom: 76px;
			}
			p {
				width: 400px;
				font: 14px/24px 'Microsoft Yahei';
				color: #a7a7a7;
				&:nth-of-type(1) {margin-bottom: 8px;}
			}
		}
	}
	#actDetails {
		@include input(958px);
		height: 60px;
	}
	.save {
		text-align: center;
		button {
			@include button(300px, 46px);
			font-size: 16px;
		}
	}
}
.offical_modal {
	input {
		@include input(260px);
		height: 30px;
		display: block;
	}

	button {
		color: #fff;
		background: #1ba9ea;
		width: 60px;
		height: 30px;
		margin: 10px 8px 0 0;
	}
}































