.register-form {
	.ant-row {
		margin-bottom: 8px;
	}
	.label {
		text-align: right;
		height: 28px;
		line-height: 28px;
		padding-right: 10px;
	}
	.add-customize button {
		margin-right: 8px;
	}
	.muti-options {
		margin-top: 4px;
	}
}